<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><layout-placeholder name="title"/></title>
</head>
<body>
<h1>Hello ${data.name}</h1>
<ul if="notEmpty(data.colors)">
    <li style="color: $color" for="color in data.colors">
        $color
    </li>
</ul>
<div else>
    No colors!
</div>

<div data-module="my-module">
    <button id="btnLoadAsync" data-type="btn-load-async">Load Asynchronously!</button>
</div>

<script type="text/javascript" src="scripts/vendors.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>

</body>
</html>