<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><layout-placeholder name="title"/></title>
</head>
<body>
<h1>Hello ${data.name}</h1>
<ul if="notEmpty(data.colors)">
    <li style="color: $color" for="color in data.colors">
        $color
    </li>
</ul>
<div else>
    No colors!
</div>

<div data-module="my-module">
    <button data-type="submit-btn">Submit</button>
</div>

<script type="text/javascript" src="scripts/vendors.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/t3js/2.0.2/t3.min.js"></script>
<script type="text/javascript" src="scripts/bundle.js"></script>

</body>
</html>